/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/node_modules
/log
.clj-kondo/
shell.nix
*.wasm
dist/
test.db
test.db-shm
test.db-wal
/resources/public/worker.js
